#!/bin/bash -e

# Install Docker
sudo yum update -y
sudo amazon-linux-extras install docker
sudo chkconfig docker on
sudo service docker start
sudo usermod -a -G docker ec2-user

# Install Waypoint runner
curl -L https://releases.hashicorp.com/waypoint/0.4.2/waypoint_0.4.2_linux_amd64.zip -o /tmp/waypoint.zip
cd /tmp
unzip waypoint.zip
sudo mv ./waypoint /usr/bin 

cat <<EOF > /usr/lib/systemd/system/waypoint.service 
[Unit]
Description=Waypoint Runner
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/waypoint runner agent -vvv -liveness-tcp-addr=:1234
Environment=WAYPOINT_SERVER_ADDR=waypoint-server-nlb-7c7608ad99f5b596.elb.eu-west-1.amazonaws.com:9701
Environment=WAYPOINT_SERVER_TLS=true
Environment=WAYPOINT_SERVER_TLS_SKIP_VERIFY=true
Environment=WAYPOINT_SERVER_TOKEN=bM152PWkXxfoy4vA51JFhR7LqiwT7qNNjxVQFcLQd2gc9HMSvt2Bf3ACstTL5biwWAf7dwoLtSBnKbue1b889mJ5A8jkM6ZsRup1v

[Install]
WantedBy=multi-user.target
EOF

sudo systemctl daemon-reload
sudo chkconfig waypoint on
sudo service waypoint start