#!/bin/bash -e

# Install Docker
sudo yum update -y
sudo amazon-linux-extras install docker
sudo chkconfig docker on
sudo service docker start
sudo usermod -a -G docker ec2-user

# Install Waypoint runner
curl -L https://releases.hashicorp.com/waypoint/0.4.2/waypoint_0.4.2_linux_amd64.zip -o /tmp/waypoint.zip
cd /tmp
unzip waypoint.zip
sudo mv ./waypoint /usr/bin 

cat <<EOF > /usr/lib/systemd/system/waypoint.service 
[Unit]
Description=Waypoint Runner
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/waypoint runner agent -vvv -liveness-tcp-addr=:1234
Environment=WAYPOINT_SERVER_ADDR=${waypoint_server_addr}
Environment=WAYPOINT_SERVER_TLS=true
Environment=WAYPOINT_SERVER_TLS_SKIP_VERIFY=true
Environment=WAYPOINT_SERVER_TOKEN=${waypoint_server_token}

[Install]
WantedBy=multi-user.target
EOF

sudo systemctl daemon-reload
sudo chkconfig waypoint on
sudo service waypoint start